.flotante {no
   position: fixed;
   display: inline-block;
   bottom:2em;
   padding: 0.2em;
}

#tam{
	font-size: 1.5em;
}

#Carta{
	font-family: Handlee;
	color:#404040;
	font-size:7em;
}

#Buen{
	font-family: Dancing Script;
	color:#404040;
	font-size:5em;	
}

ul, ol{
	padding: 0;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
	color: white;
}

.noStyle{
	list-style:none;
}

/*=============================================
CABEZOTE           
=============================================*/

/*Cabezote*/

#cabezote{
	width: 100%;
	position: relative;
	padding:10px 10px 0px 10px;
	background: #e67e22;
	z-index:1;
	box-shadow:0px 1px 10px #333;
	text-align: center;	
}

#cabezote h1{
	color: white;
	font-style: italic;
}

/*=====  Fin de CABEZOTE  ======*/

/*=============================================
INICIO 
=============================================*/

#inicio ul li{
	margin-bottom: 5px;
}

#inicio ul li p{
	text-align: center;
	font-size: 23px;
	background: #e67e22;
	color: #FFFFFF; 
	font-style: italic;
}

#inicio ul li p:hover{
	background: #FFFFFF;
	color: #e67e22;
	cursor: pointer;
}

/*=====  Fin de INICIO  ======*/

/*=============================================
CARTA         
=============================================*/

#carta ul li{
	list-style: none;
	position:relative;
	padding:20px;
}

#carta ul li button{
	margin-top:30px;
}


/*=====  Fin de CARTA  ======*/

/*=====================================
PIE DE PAGINA     
======================================*/


#piePagina #links ol li a{
	float:right;
	width:55px;
	height:55px;
	border-radius:100%;
	margin:20px 5px;
	text-align:center;
	line-height:60px;
	color:#e67e22;
	background:white;
}

#right {
	width:20em;
}

#piePagina{
	width: 100%;
	margin-top: 15px; 
	background: #e67e22;
	padding: 3px 8px;
	text-align: center;
	display:flex;
	justify-content: space-between;
}

#piePagina #list li h1{
	color: #FFFFFF;
	font-style: italic;
	float:left;
}

#creators p {
	font-family: Montserrat;
	font-weight: Semi-Bold;
	color:black;
	font-size:1.2em;
}

/*=====  Fin de PIE DE PAGINA   ======*/

/*=============================================
ESCRITORIO GRANDE                    
=============================================*/
@media (min-width:1200px){
	
	/*inicio*/

	#inicio ul li{
		float:left;
		width:33%;
		margin-left: 3px;
	}

	#inicio ul li img{	
		width:100%;
	}


	#carta ul li img{
		float:left;
		width:30%;
		margin:20px 20px 20px 0 ;
	}


}

/*=====  Fin de ESCRITORIO GRANDE  ======*/
	
/*=============================================
ESCRITORIO MEDIANO                   
=============================================*/
	
@media (max-width:1199px) and (min-width:992px){

	/*inicio*/

	#inicio ul li{
		float:left;
		width:49%;
		margin-left: 3px;
	}

	#inicio ul li img{	
		width:100%;
	}

	/*carta*/

	#carta ul li img{
		float:left;
		width:35%;
		margin:30px 20px 20px 0 ;
	}



}
/*=====  Fin de ESCRITORIO MEDIANO  ======*/
	
/*********************************************
Tablets
**********************************************/
	
@media (max-width:991px) and (min-width:768px){
	
	#container{
		margin-left: 0em;
	}	

	/*inicio*/
	#inicio{
		padding-left: 20px;
		padding-right: 20px;
	}

	#inicio ul li{
		float:left;
		width:50%;
	}

	#inicio ul li img{	
		width:100%;
	}

	/*carta*/

	#carta ul li img{
		float:left;
		width:40%;
		margin:25px 20px 20px 0 ;
	}

}

/*=====  Fin de TABLET  ======*/
	
/*********************************************
Phones
**********************************************/
	
@media (max-width:647px){

	#container{
		margin-left: 0em;
	}

	/*inicio*/
	#inicio{
		padding-left: 20px;
		padding-right: 20px;
	}

	#inicio ul li{
		float:left;
		width:100%;
	}

	#inicio ul li img{	
		width:100%;
	}
	
	/*carta*/

	#carta ul li img{
		float:left;
		width:100%;
		margin:10px auto ;
	}

	#piePagina #links ol li a{
	float:right;
	width:35px;
	height:35px;
	border-radius:100%;
	text-align:center;
	line-height:60px;
	color:#e67e22;
	background:white;
	}

	#right {
		width:21em;
	}

}

/*=====  Fin de PHONES  ======*